*{
	margin: 0px;
	padding: 0%;
}
nav {
    background-color:#56ADB9;
    border: 2px,solid,#56ADB9;
}

.offcanvas-body, .offcanvas-header{
    background-color:#81D8D0 ;
}

#logoNavbar{
    max-height: 60px;
    max-width: 40px;
}

#TittleNavbar{
    font-size: 35px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

h2
{
    font-size: 30px;
    -webkit-text-stroke:1px;
    color:#81D8D0;
}