footer
{
	background-color: #6C6B6B;
	font-size: 20px;
	max-width: 100%;
	overflow-x: hidden;
}
.foot
{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	max-width: 100%;
	overflow-x: hidden;
	background-color: black;
}

iframe{
    border:0; height:100%; width: 100%;
}

.col-2, .col-10{
    max-height: 75px;
}

.col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.col-2 > img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}